.title {
  text-align: center;
}
th {
  text-align: center;
  font-size: x-large;
}
table{
  text-align: center;
  background-color:gray;
  margin:.5rem;
  padding: .4rem;
}
input{
  width: 100%;
  font-size: x-large;
  padding:0.2rem;
}